<header>
  <mat-toolbar>
    <nav>
      <span class="btn-empty">My App</span>
    </nav>
    <span class="example-spacer"></span>
    <button
      aria-label="Sign in through Steam."
      class="btn-empty"
      (click)="login()"
      *ngIf="!this.loggedIn"
    >
      <img
        src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png"
      />
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="logout()"
      *ngIf="this.loggedIn"
    >
      LogOut
    </button>
  </mat-toolbar>
</header>
